<h1>Upgrade</h1>

<button
  disabled={{upgradeAllButtonDisabled}}
  id="upgrade-all"
  class="btn"
  {{action "upgradeAllButton"}}
>
  {{#if allUpToDate}}
    All Up-to-date
  {{else}}
    Upgrade All
  {{/if}}
</button>

<table class="table" id="repos">
  <thead>
    <th></th>
    <th style="width: 50%">Repository</th>
    <th>Status</th>
  </thead>
  <tbody>
    {{#each this.model as |repo|}}
      <RepoStatus
        @repo={{repo}}
        @upgradingRepo={{this.upgrading}}
        @managerRepo={{this.managerRepo}}
      />
    {{/each}}
  </tbody>
</table>
