<h1>{{i18n "admin.docker.upgrade_repo" name=this.title}}</h1>

<ProgressBar @percent={{this.percent}} />

{{#if this.complete}}
  <p>{{i18n "admin.docker.upgrade_successful"}}</p>
{{else if this.failed}}
  <p>{{i18n "admin.docker.upgrade_error"}}</p>
{{/if}}

{{#if this.isUpToDate}}
  {{#unless this.multiUpgrade}}
    <p>{{i18n "admin.docker.repo_newest_version" name=this.title}}</p>
  {{else}}
    <p>{{i18n "admin.docker.everything_up_to_date"}}</p>
  {{/unless}}
{{else}}
  <button {{on "click" this.start}} disabled={{this.upgrading}} class="btn">
    {{#if this.upgrading}}
      {{i18n "admin.docker.upgrading"}}
    {{else}}
      {{i18n "admin.docker.start_upgrading"}}
    {{/if}}
  </button>

  {{#if this.upgrading}}
    <button {{on "click" this.resetUpgrade}} class="btn unlock">
      {{i18n "admin.docker.reset_upgrade"}}
    </button>
  {{/if}}
{{/if}}

<Console @output={{this.output}} @followOutput={{true}} />
