<h3>Upgrade {{title}}</h3>

{{progress-bar percent=percent}}

{{#if complete}}
  <p>Upgrade completed successfully!</p>
{{/if}}

{{#if failed}}
  <p>Sorry, there was an error upgrading Discourse. Please check the logs below.</p>
{{/if}}

{{#if isUpToDate}}
  {{#unless multiUpgrade}}
    <p>{{title}} is at the newest version.</p>
  {{else}}
    <p>Everything is up-to-date.</p>
  {{/unless}}
{{else}}
  <div style="clear: both">
    <button {{action "start"}} disabled={{upgrading}} class="btn">
      {{upgradeButtonText}}
    </button>

    {{#if upgrading}}
      <button {{action "resetUpgrade"}} class="btn unlock">
        Reset Upgrade
      </button>
    {{/if}}
  </div>
{{/if}}

{{x-console output=output followOutput=true}}
