<h3>Upgrade {{this.title}}</h3>

<ProgressBar @percent={{this.percent}} />

{{#if this.complete}}
  <p>Upgrade completed successfully!</p>
{{else if this.failed}}
  <p>Sorry, there was an error upgrading Discourse. Please check the logs below.</p>
{{/if}}

{{#if this.isUpToDate}}
  {{#unless this.multiUpgrade}}
    <p>{{this.title}} is at the newest version.</p>
  {{else}}
    <p>Everything is up-to-date.</p>
  {{/unless}}
{{else}}
  <button {{on "click" this.start}} disabled={{this.upgrading}} class="btn">
    {{upgradeButtonText}}
  </button>

  {{#if this.upgrading}}
    <button {{on "click" this.resetUpgrade}} class="btn unlock">
      Reset Upgrade
    </button>
  {{/if}}
{{/if}}

<Console @output={{this.output}} @followOutput={{true}} />
