<h1>{{i18n "admin.docker.upgrade_title"}}</h1>

<button
  disabled={{upgradeAllButtonDisabled}}
  id="upgrade-all"
  class="btn"
  {{action "upgradeAllButton"}}
>
  {{#if allUpToDate}}
    {{i18n "admin.docker.all_up_to_date"}}
  {{else}}
    {{i18n "admin.docker.upgrade_all"}}
  {{/if}}
</button>

<table class="table" id="repos">
  <thead>
    <th></th>
    <th style="width: 50%">{{i18n "admin.docker.repository"}}</th>
    <th>{{i18n "admin.docker.status"}}</th>
  </thead>
  <tbody>
    {{#each this.model as |repo|}}
      <RepoStatus
        @repo={{repo}}
        @upgradingRepo={{this.upgrading}}
        @managerRepo={{this.managerRepo}}
      />
    {{/each}}
  </tbody>
</table>
