<tr>
  <td>
    {{#if this.officialRepoBadge}}
      {{d-icon
        this.officialRepoBadge
        class="check-circle"
        alt=this.officialRepoBadgeTitle
        title=this.officialRepoBadgeTitle
      }}
    {{/if}}
  </td>

  <td>
    <a href={{@repo.url}}>{{@repo.name}}</a>
    <span class="current commit-hash" title={{@repo.version}}>
      {{@repo.prettyVersion}}
    </span>
  </td>

  <td>
    {{#if @repo.checkingStatus}}
      {{i18n "admin.docker.checking"}}
    {{else if @repo.upToDate}}
      {{i18n "admin.docker.up_to_date"}}
    {{else}}
      <div class="new-version">
        <h4>{{i18n "admin.docker.new_version_available"}}</h4>

        <ul>
          <li>
            {{i18n "admin.docker.latest_version"}}
            <span class="new commit-hash" title={{@repo.latestVersion}}>
              {{@repo.prettyLatestVersion}}
            </span>
          </li>
          <li>
            {{i18n "admin.docker.last_updated"}}
            {{#if @repo.latest.date}}
              {{format-date @repo.latest.date}}
            {{else}}
              &mdash;
            {{/if}}
          </li>
          <li class="new-commits">
            {{new-commits
              @repo.latest.commits_behind
              @repo.version
              @repo.latest.version
              @repo.url
            }}
          </li>
        </ul>

        <DButton
          @action={{this.upgrade}}
          @disabled={{this.upgradeDisabled}}
          @class="upgrade-button"
          @translatedLabel={{this.upgradeButtonLabel}}
        />
      </div>
    {{/if}}
  </td>
</tr>