<header class="container">
  {{#link-to 'index'}}<img src={{logoUrl}} class="logo">{{/link-to}}
  <h1>{{#link-to 'index'}}Upgrade{{/link-to}}</h1>
</header>

<div class="container">

  {{#if showBanner}}
    <div id="banner">
      <div id="banner-content">
        <div class="close" {{action "dismiss"}}><i class="fa fa-times" title="Dismiss this banner."></i></div>
        {{#each banner as |row|}}
          <p>{{{row}}}</p>
        {{/each}}
      </div>
    </div>
  {{/if}}

  <ul class="nav nav-tabs">
    {{#link-to "index" tagName="li"}}
      {{#link-to "index"}}Versions{{/link-to}}
    {{/link-to}}
    {{#link-to "processes" tagName="li"}}
      {{#link-to "processes"}}Processes{{/link-to}}
    {{/link-to}}

    <li><a href={{returnToSiteUrl}}>Return to site</a></li>
    <li><a href={{backupsUrl}}>Backups</a></li>
  </ul>

  {{outlet}}
</div>
