<h3>Upgrade {{model.name}}</h3>

{{progress-bar percent=percent}}

{{#if complete}}
  <p>Upgrade completed successfully!</p>
  <p>Note: The web server restarts in the background. It's a good idea to wait 30 seconds or so
     before refreshing your browser to see the latest version of the application.</p>
{{/if}}

{{#if failed}}
  <p>Sorry, there was an error upgrading Discourse. Please check the logs below.</p>
{{/if}}

{{#if model.upToDate}}
  <p>{{model.name}} is at the newest version {{fmt-commit model.version model.url}}.</p>
{{else}}
  <div style='clear: both'>
    <button {{action "start"}} {{bind-attr disabled="model.upgrading"}} class='btn'>{{upgradeButtonText}}</button>
    {{#if model.upgrading}}
      <button {{action "resetUpgrade"}} class="btn unlock">Reset Upgrade</button>
    {{/if}}
  </div>
{{/if}}

{{x-console output=output followOutput=true}}
