<DPageHeader
  @titleLabel={{i18n "admin.docker.update_title"}}
  @descriptionLabel={{i18n "admin.docker.update_description"}}
  @shouldDisplay={{true}}
>
  <:breadcrumbs>
    <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
    <DBreadcrumbsItem
      @path="/admin/update"
      @label={{i18n "admin.docker.update_title"}}
    />
  </:breadcrumbs>
  <:tabs>
    <NavItem @route="update.index" @label="admin.docker.navigation.versions" />
    <NavItem
      @route="update.processes"
      @label="admin.docker.navigation.processes"
    />
  </:tabs>
</DPageHeader>

<div class="docker-manager">
  {{#if this.showBanner}}
    <div id="banner">
      <div id="banner-content">
        <div class="floated-buttons">
          <DButton
            @icon="xmark"
            @action={{this.dismiss}}
            @title="banner.close"
            class="btn btn-flat close"
          />
        </div>

        {{#each this.banner as |row|}}
          <p>{{html-safe row}}</p>
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{outlet}}
</div>