<div class="admin-controls">
  <nav>
    <ul class="nav nav-pills">
      <li>
        <LinkTo @route="upgrade.index">
          {{i18n "admin.docker.navigation.versions"}}
        </LinkTo>
      </li>

      <li>
        <LinkTo @route="upgrade.processes">
          {{i18n "admin.docker.navigation.processes"}}
        </LinkTo>
      </li>
    </ul>
  </nav>
</div>

<div class="docker-manager">
  {{#if this.showBanner}}
    <div id="banner">
      <div id="banner-content">
        <div class="floated-buttons">
          <DButton
            @icon="times"
            @action={{this.dismiss}}
            @class="btn btn-flat close"
            @title="banner.close"
          />
        </div>

        {{#each this.banner as |row|}}
          <p>{{html-safe row}}</p>
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{outlet}}
</div>